@import "../../../assets/scss/app.scss";
.Sign-up {
    min-width: max-content;
    min-height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 375px;
        form {
            width: 100%;
        }
        h2 {
            font-style: normal;
            font-weight: 500;
            font-size: 32px;
            line-height: 44px;
            width: 100%;
        }
        .input-field {
            position: relative;

            label {
                font-size: 16px;
                margin: 13px auto;
            }
            button {
                background-color: $color_white;
                border: none;
                box-shadow: none !important;
                outline: none;
                position: absolute;
                z-index: 10;
                top: 60px;
                left: 330px;
                color: $color_black;
            }
            input {
                width: 100%;
                height: 60px;
                padding: 0 21px;
                border-radius: 10px;
                border: 1.3px solid $color_black;
                outline: none;
                &:focus {
                    box-shadow: none !important;
                    border-color: $color_green_button_login;
                }
                &.is-invalid {
                    border-color: $color_red_valid;
                }
            }
        }
        &__checkbox {
            width: 100%;
            margin: 10px;
        }
        .form-btn-confirm {
            width: 100%;
            margin: 41px auto;
        }
    }
    &__solid {
        border-top: 1.3px solid $color_grey_border;
        width: 100%;
        position: relative;
        text-align: center;
        span {
            position: absolute;
            top: -15px;
            left: 113px;
            background-color: $color_white;
        }
    }
    &__google-fb {
        img {
            margin: 0 10px;
        }
        button:first-child {
            width: 100%;
            height: 60px;
            margin-top: 50px;
            border: 1px solid $color_black;
            border-radius: 10px;
            background-color: $color_white;

            color: $color_black;
            font-size: 20px;
            font-weight: bold;
            line-height: 28px;
        }
        button:nth-child(2) {
            @extend button:first-child;
            background-color: $color_blue_button_fb;
            color: $color_white;
            border: 0px;
            margin-top: 25px;
        }
    }
}
