@import "../../../assets/scss/foundation/variable/variable";

.register-form{
    border-radius: 5px;
    width: 480px !important;
    background-color: $bg_login_form;
    padding: 0 !important;
    margin-bottom: 80px;

    .register-header{
        background-color: $bg_login_title;
        border-radius: 5px 5px 0 0;
        height: 55px;

        h3{
            color: $color_white;
            text-align: center;
            line-height: 66px;
            font-weight: bold;
        }
    }

    .register-content{
        padding-left: 24px;
        padding-right: 24px;
        color: $color_white;
        font-size: 1rem;
        
        .row{
            flex-wrap: nowrap;

            & > * {
                flex-shrink: unset;
            }
        }

        .form-group{
            position: relative;
            margin-top: 20px;
            height: 70px;

            label{
                font-size: 1rem;
            }   
    
            input{
                border-radius: 0.625rem;
                background-color: $bg_login_form;
                border:$bg_login_title solid 1px;
                color: $color_white;
                display: inline-block;
            }
    
            .show-password{
                position: absolute;
                display: inline-block;
                width: 20px;
                right: 10px;
                bottom: 16px;
            }
    
            input:focus{
                border: 1px solid $color_text_blue;
                box-shadow: none;
            }
    
            input[type=password]::-ms-reveal,
            input[type=password]::-ms-clear
            {
               display: none;
            }
    
            button{
                background-color: $color_text_blue;
                color: $color_black;
                font-size: 1.25rem; 
                width: 240px;         
                border-radius: 10px;  
                font-weight: bold;
            }
    
            button{
    
                &:hover{
                    background-color: $sencond_color_hover;
                }
        
                &:active{
                    background-color: $sencond_color_active;
                }
        
                &:focus{
                    outline: none;
                    box-shadow: none;
                }
            }
    
            .form-check{
                display: flex;
                input{
                    width: 12px;
                    height: 12px;
                    margin-right: 10px;
                }

                label{
                color: $color_text_blue;
                margin: 0;
                }
            }
    
            .active-failure{
                color: $color_failure;
                font-size: 0.6rem;
                font-weight: bold;
            }
        }

        .password{
            padding-right: 36px;
        }

        .text-center{
            margin: 0;
        }

        .check-term{
            margin-top:10px;
            height: 60px;

            .form-check{

                label{
                    font-size: 12px;
                } 
            }
        }
        
    }

    .register-bottom{
        padding: 10px 0;
        display: flex;
        justify-content: center;
        
        span{
            padding-right: 5px;
            font-size: 0.8rem;
        }

        a{
            color: $color_text_blue;
            font-size: 0.8rem;
            text-decoration: none;
        }
    }
}
