@import "../../../assets/scss/foundation/variable/variable";

.wrap-forgot-pass{
    margin-top: 20px;

    h2{
        margin-bottom: 20px;
    }
    input{
        width: 376px;
        height: 46px;
        border: 2px solid $color_black;
        border-radius: 10px;
    }

    small{
        font-size:0.8rem;
    }

    .active-failure{
        color: $color_failure;
    }

    .active-success{
        color: $color_success;
    }
    
    button{
        width: 376px;
        height: 46px;
        border-radius: 10px;
        background-color: $button_green;
        margin-top: 20px;

        &:hover{
            background-color: $button_green_hover;
        }
    }
}

@media only screen and (max-width: $desktop-width) {
    .wrap-forgot-pass{
        .content-forgot-pass{
            width: 38%;
        }
    }
}

@media only screen and (max-width: $tablet-width) {
    .wrap-forgot-pass{
        .content-forgot-pass{
            width: 50%;

            input{
                width: 100%;
            }

            button{
                width: 100%;
            
            }
        }
    }
}

@media only screen and (max-width: $mobile-width) {
    .wrap-forgot-pass{
        .content-forgot-pass{
            width: 70%;
        }

        input{
            width: 100%;
        }

        button{
            width: 100%;
            
        }
    }
}
