@import "../../assets/scss/app.scss";

.home-layout {
    background-color: $bg_main;
    &__main {
        min-height: 100vh;
        padding-top: 100px;
        height: max-content;

        &-content {
            padding: 100px 90px;
            padding-top: 0px;
            width: 100%;
        }
    }
}

@media only screen and (max-width: $tablet-width) {
}

@media only screen and (max-width: $mobile-width) {
    .home-layout {
        &__main {
            &-content {
                padding: 20px;
                height: max-content;
            }
        }
    }
}
