@import "../../../assets/scss/app.scss";

.container-account-user {
    background-color: $bg_main;
    .info-user {
        border-bottom: 1px solid $color_gray;
        margin-bottom: 20px;
        padding: 20px;

        .col {
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .col-md-3 {
            position: relative;

            .user-avatar {
                width: 100%;
                display: flex;
                justify-content: center;
                margin: 0;
                position: absolute;
                top: 0;

                img {
                    width: 200px;
                    height: 200px;
                    border-radius: 50%;
                    align-items: center;
                }
            }
        }
        .col-md-9 {
            .detail-user {
                // margin-bottom: 10px;

                h2,
                h5 {
                    color: $color_white;
                    font-weight: bold;
                }

                span {
                    color: $color_gray;
                    font-weight: 300;
                }

                p {
                    color: $color_white;
                    font-weight: 300;
                    // text-rendering: optimizeLegibility;
                }

                .text-cap {
                    text-transform: capitalize;
                }

                .btn-edit-profile {
                    background-color: $color_text_blue;
                    padding: 5px 10px;
                    border-radius: 10px;
                    cursor: pointer;
                    font-size: 16px;
                    margin-left: 10px;
                    // margin-top: 25px;

                    &:hover{
                        background-color: $sencond_color_hover;
                    }

                    &-icon {
                        color: $color_black;
                    }
                    span {
                        display: inline-block;
                        color: $color_white;
                        padding-left: 10px;
                    }
                }
            }

            .detail-header{
                margin-bottom: 20px;
            }

            .detail-footer {
                max-width: 650px;
            }
        }
    }

    .user-post-follow {
        .container-tabs {
            display: flex;
            justify-content: center;
            border: none;

            .tabs-item {
                margin-left: 10px;
                border-radius: 10px;
                cursor: pointer;

                .active {
                    background-color: transparent;
                    border: none;
                    color: $color_white !important;
                    border-radius: 10px;

                    &:hover {
                        border: none;
                    }
                }

                .tabs-link {
                    color: $color_gray;
                    border-radius: 0 0 5px 5px;
                    border: none;

                    &:hover {
                        border: none;
                    }

                    .fas {
                        font-size: 20px;

                        span {
                            padding: 10px;
                        }
                    }
                }
            }
        }

        .tab-content {
            width: 50%;
            margin: 0 auto;
        }
    }
}
