@import "../../../assets/scss/app.scss";

.container-account-user {
    background-color: $bg_login_form;
    .container {
        .info-user {
            border-bottom: 1px solid $color_gray;
            margin-bottom: 20px;

            .col {
                margin-top: 20px;
                margin-bottom: 20px;
            }

            .col-md-3 {
                .user-avatar {
                    img {
                        width: 200px;
                        height: 200px;
                        border-radius: 50%;
                    }
                }
            }
            .col-md-9 {
                .detail-user {
                    margin-bottom: 10px;

                    h2,
                    h5 {
                        color: $color_white;
                        font-weight: bold;
                    }

                    span {
                        color: $color_gray;
                        font-weight: 300;
                    }

                    p {
                        color: $color_white;
                        font-weight: 300;
                    }
                }
            }
        }

        .user-post-follow {
            .container-tabs {
                display: flex;
                justify-content: center;
                border: none;

                .tabs-item {
                    margin-left: 10px;
                    border-radius: 10px;

                    .active {
                        background-color: transparent;
                        border: none;
                        color: $color_white !important;
                        border-radius: 10px;

                        &:hover {
                            border: none;
                        }
                    }

                    .tabs-link {
                        color: $color_gray;
                        border-radius: 0 0 5px 5px;
                        border: none;

                        &:hover {
                            border: none;
                        }

                        .fas {
                            font-size: 20px;

                            span {
                                padding: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}
