@import "../../../assets/scss/foundation/variable/variable";

.reset-form {
    border-radius: 5px;
    margin-top: 30px;
    width: 480px !important;
    background-color: $bg_login_form;
    position: relative;
    height: max-content;

    .reset-header {
        background-color: $bg_login_title;
        border-radius: 5px 5px 0 0;
        height: 66px;
        width: 100%;

        h3 {
            color: $color_white;
            text-align: center;
            line-height: 66px;
            font-weight: bold;
        }
    }

    .reset-content {
        color: $color_white;
        font-size: 1rem;
        margin-top: 25px;
        padding-bottom: 30px;

        .row {
            margin: 25px 0px 0px 0px;
            padding: 0px 30px;

            label {
                padding: 0px;
                font-size: 1rem;
                margin-bottom: 10px;
            }

            input {
                border-radius: 0.625rem;
                background-color: $bg_login_form;
                border: $bg_login_title solid 1px;
                color: $color_white;
                height: 42px;
            }

            input:focus {
                border: 1px solid $color_text_blue;
                box-shadow: none;
            }

            .errors {
                color: $color_error;
                font-size: 14px;
                margin: 4px 0 0 0;
            }
        }

        button {
            background-color: $color_text_blue;
            color: $color_black;
            font-size: 1.25rem;
            width: 240px;
            border-radius: 10px;
            margin-top: 30px;
            font-weight: bold;
        }

        .text-center {
            button {
                &:hover {
                    background-color: $sencond_color_hover;
                }

                &:active {
                    background-color: $sencond_color_active;
                }

                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }
        }

        .active-failure {
            color: $color_error;
            font-size: 0.6rem;
            display: inline-block;
        }
        .active-success {
            color: $success_color;
            font-size: 0.6rem;
        }
    }
}
