@import "../../../assets/scss/foundation/variable/variable";

.reset-form{
    border-radius: 5px;
    margin-top: 30px;
    width: 480px !important;
    background-color: $bg_login_form;
    padding: 0 !important;
    position: relative;

    .reset-header{
        background-color: $bg_login_title;
        border-radius: 5px 5px 0 0;
        height: 66px;

        h3{
            color: $color_white;
            text-align: center;
            line-height: 66px;
            font-weight: bold;
        }
    }

    .reset-content{
        padding-bottom: 24px;
        padding-left: 24px;
        padding-right: 24px;
        color: $color_white;
        font-size: 1rem;
        margin: 0 auto;

        label{
            font-size: 1rem;
            margin-top: 20px;
        }

        input{
            border-radius: 0.625rem;
            background-color: $bg_login_form;
            border:$bg_login_title solid 1px;
            color: $color_white;
        }

        input:focus{
            border: 1px solid $color_text_blue;
            box-shadow: none;
        }

        input[type=password]::-ms-reveal,
        input[type=password]::-ms-clear
        {
            display: none;
        }

        span{
            line-height: 5px;
            display: inline-block;
        }

        button{
            background-color: $color_text_blue;
            color: $color_black;
            font-size: 1.25rem; 
            width: 240px;         
            border-radius: 10px;  
            margin-top: 20px;
            font-weight: bold;
        }

        .text-center{
            button{

                &:hover{
                    background-color: $sencond_color_hover;
                }
        
                &:active{
                    background-color: $sencond_color_active;
                }
        
                &:focus{
                    outline: none;
                    box-shadow: none;
                }
            }
        }

        .active-failure{
            color: $color_error;
            font-size: 0.6rem;
            display: inline-block;
        }
        .active-success{
            color: $success_color;
            font-size: 0.6rem;
        }
    }
}