@import "../../../assets/scss/foundation/variable/variable";

.wrap-reset-pass{
    margin-top: 20px;    

    label{
        margin-top: 20px;
    }

    input{
        width: 376px;
        height: 46px;
        border: 1px solid $color_black;
        border-radius: 10px;
    }

    .active-failure{
        color: $color_failure;
    }

    .active-success{
        color: $color_success;
    }
    
    button{
        width: 376px;
        height: 46px;
        border-radius: 10px;
        background-color: $button_green;
        margin-top: 20px;

        &:hover{
            background-color: $button_green_hover;
        }
    }
}

@media only screen and (max-width: $desktop-width) {
    .wrap-reset-pass{    
        .content-reset-pass{
            width: 38%;
        }
    }
}

@media only screen and (max-width: $tablet-width) {
    .wrap-reset-pass{
        .content-reset-pass{
            width: 50%;

            input{
                width: 100%;
            }

            button{
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width: $mobile-width) {
    .wrap-reset-pass{
        .content-reset-pass{
            width: 70%;
        }

        input{
            width: 100%;
        }

        button{
            width: 100%;
            
        }
    }
}