@import "../../../assets/scss/app.scss";

.sell {
    height: 40px;
    width: 110px;
    margin-bottom: 2px;
    border-radius: 2px;
    font-weight: 700;
    font-size: 14px;

    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;

    &-checkbox:checked {
        outline: 2px solid $color_blue;
        box-shadow: 0px 0px 5px $color_blue;
    }
}
