@import "../../../assets/scss/app.scss";

.sell {
    height: 40px;
    width: 110px;
    margin-bottom: 2px;
    border-radius: 2px;
    font-weight: 700;
    font-size: 14px;

    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
}
