@import "../../assets/scss/app.scss";

.modal-confirm-account {
    max-width: 430px !important;
    margin-left: 40%;

    .modal-content {
        background: none !important;
        border: 0px;

        .modal-body {
            background-color: $bg_main;
            border-radius: 10px !important;

            .text {
                text-align: center;
                font-size: 14px;
                line-height: 16px;
            }
            .content {
                margin: 0px auto;

                padding: 0px 60px;
            }

            .btn {
                width: 111px;
                height: 36px;
            }
        }
    }
}

.modal {
    margin-top: 10%;
    height: 203px !important;
}
