@import "../../assets/scss/app.scss";

.PostList {
  width: 100%;
  .row {
    width: 100%;
  }

  &__add {
    display: flex;
    justify-content: flex-end;
    &-post {
      width: 210px;
      height: 44px;
      background-color: #71c6dd;
      border-radius: 10px;
      border: none;
      font-weight: 500;
    }
  }
  &__form {
    height: 265px;
    background: $bg_login_form;
    border-radius: 10px;
    padding: 20px 30px;
    margin: 24px 0;
    &__info-user {
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      color: $color_white;
      div:first-child {
        display: flex;
        align-items: center;
        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          cursor: pointer;
        }
        span {
          color: $color_text_blue;
          margin: 0 10px;
          font-weight: 500;
        }
      }
    }
    &__info-post {
      color: $color_white;
      margin: 10px 0;
      width: 100%;
      p {
        color: $text_post_list;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        width: 100%;
      }
      p:nth-child(3) {
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 25px;
        -webkit-line-clamp: 2;
        height: 50px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        word-break: break-all;
      }
    }
    &__see-more {
      display: flex;
      justify-content: flex-end;
      button {
        background: $color_text_blue;
        border-radius: 10px;
        font-size: 14px;
        line-height: 16px;
        color: $color_black;
        width: 100px;
        height: 40px;
        font-weight: 500;
        &:hover,
        &:focus,
        &:active {
          background: $color_text_blue;
          box-shadow: none !important;
          color: $color_black;
        }
      }
    }
  }
}
.GroupList {
  height: 65vh;
  position: fixed;
  width: inherit;
  padding: 0 57px 0 0;
  &__title {
    background: #696d97;
    color: white;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  &__list {
    background-color: $bg_login_form;
    height: 100%;
    padding: 10px 0 10px 5px;
    overflow-y: scroll;
    a {
      text-decoration: none;
    }
    &__team {
      display: flex;
      align-items: center;
      align-content: center;
      color: $color_white;
      margin: 15px 0;
      padding: 0 20px;
      height: 60px;
      width: 100%;
      border-radius: 5px;
      transition: 0.3s all ease;
      &:hover {
        background: #696d97;
        box-shadow: 0 1px 2px -2px #00000029, 0 3px 6px #0000001f, 0 5px 12px 4px #00000017;
        transition: 0.3s all ease;
        cursor: pointer;
      }
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
      span {
        color: $color_text_blue;
        margin: 0 10px;
        font-weight: 500;
        word-break: break-all;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 1;
        display: -webkit-box;
        -webkit-box-orient: vertical;
      }
    }
  }
}
