@import "../../../assets/scss/app.scss";
.PostList {
    &__form {
        width: 864px;
        height: 265px;
        background: $bg_login_form;
        border-radius: 10px;
        padding: 20px 30px;
        &__info-user {
            display: flex;
            justify-content: space-between;
            align-items: center;
            align-content: center;
            color: $color_white;
            div:first-child {
                display: flex;
                align-items: center;
                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                }
                p {
                    color: $color_white;
                    margin: 0 10px;
                }
            }
        }
        &__info-post {
            color: $color_white;
            margin: 10px 0;
            width: 100%;
            p {
                color: $text_post_list;
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                width: 100%;
            }
            p:nth-child(3){
                overflow: hidden;
                text-overflow: ellipsis;
                line-height: 25px;
                -webkit-line-clamp: 2;
                height: 50px;
                display: -webkit-box;
                -webkit-box-orient: vertical;
            }
        }
        &__see-more {
            display: flex;
            justify-content: flex-end;
            button {
                background: $color_text_blue;
                border-radius: 10px;
                font-size: 14px;
                line-height: 16px;
                color: $color_black;
                width: 100px;
                height: 40px;
                font-weight: 500;
                &:hover,
                &:focus,
                &:active {
                    background: $color_text_blue;
                    box-shadow: none !important;
                    color: $color_black;
                }
            }
        }
    }
}
