@import "../../../assets/scss/app.scss";

.login-wrapper {
  width: 480px;

  background: $bg_login_form;
  border-radius: 5px;

  .login {
    &-title {
      height: 55px;
      background: $bg_login_title;
      border-radius: 5px 5px 0px 0px;

      display: flex;
      justify-content: center;
      align-items: center;

      .text {
        font-weight: 900;
        font-size: 24px;
        line-height: 28px;
      }
    }

    &-form {
      padding: 30px 30px 15px;

      &-submit {
        display: flex;
        justify-content: center;

        &-btn {
          width: 240px;
          height: 42px;
          margin-top: 25px;

          background: #71c6dd;
          border: none;
          border-radius: 10px;
        }
      }

      &-group {
        position: relative;
        display: flex;
        flex-direction: column;

        .show-password {
          position: absolute;
          top: 64%;
          right: 20px;
          z-index: 10;
          opacity: 50%;
          color: $color_white;
        }

        label {
          margin: 20px 0px 10px;
          color: $color_white;
        }
        .form-control {
          height: 42px;

          background-color: $bg_login_form;
          border: 1px solid $bg_login_title;

          border-radius: 10px;
        }
      }
      &-forgot {
        .forgot-password {
          font-size: 16px;
          font-weight: 400;
          color: $color_text_blue;
        }
        .forgot-password:hover {
          opacity: 80%;
        }
      }
    }
  }

  .input-password {
    padding-right: 32px !important;
  }

  .show-password:hover {
    cursor: pointer;
    opacity: 100%;
  }
  .errors {
    color: $color_error;
    font-size: 14px;
    margin: 4px 0 0 0;
  }

  .directional-signup {
    width: 100%;

    display: flex;
    justify-content: center;

    &-link {
      margin: 0px 0px 30px 10px;

      color: $color_text_blue;
      text-decoration: none;
    }
  }
}
