@import "../../../assets/scss/app.scss";

.post-detail-container {
  margin: auto;
  display: flex;
  justify-content: center;

  width: max-content;
  max-width: 100%;
  height: max-content;

  background-color: $bg_login_form;
  border-radius: 10px;
  padding: 15px 35px 20px 40px;
  box-sizing: border-box;

  .post-detail {
    box-sizing: border-box;

    &__header {
      &-start {
        width: max-content;

        .user {
          text-decoration: none;

          &:hover {
            background-color: transparent;
          }

          &-avatar {
            width: 45px;
            height: 45px;
            overflow: hidden;
            border-radius: 50%;
            margin-right: 7px;

            .img {
              width: 100%;
              height: 100%;
            }
          }

          &-name {
            text-transform: capitalize;

            font-size: 16px;

            .text {
              color: $color_white;
              font-weight: 700;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
      &-end {
        width: max-content;
        height: 100%;

        .report {
          cursor: pointer;
          height: 40px;
          width: 40px;
          padding: 5px;
          border-radius: 50%;
          transition: 0.5s;

          .icon-report {
            font-size: 20px;
          }

          &:hover {
            background-color: $bg_login_title;
            transition: 0.5s;
          }
        }

        .vote {
          &-icon {
            cursor: pointer;
            height: 40px;
            width: 40px;
            overflow: hidden;
            border-radius: 50%;
            transition: 0.5s;

            &:hover {
              background-color: $bg_login_title;
              transition: 0.5s;
            }
          }

          .icon {
            height: 100%;
            width: 100%;
          }
        }

        .icon-report {
          margin-top: 4px;
          width: 20px;
        }
      }
    }

    &__body {
      .content {
        padding: 0px 0px 20px 0px;

        &__title {
          p {
            color: $color_white;
            padding-bottom: 0px;
            margin: 0px;
            text-transform: capitalize;
          }
        }

        &__topic {
          color: $color_post_topic;
          padding: 0px;
          text-transform: capitalize;
        }
        &__require-member {
          &-label {
            color: $color_white;
            display: inline;
          }
        }
        &__text {
          p {
            color: $color_white;
          }
        }
      }

      .schedule {
        padding: 15px 0px;

        .next-step {
          margin-left: 5px;
          width: 50px;
          position: relative;

          &:hover {
            cursor: pointer;
            .icon-next {
              animation: none;
              margin-left: 10px;
            }
          }

          .icon-next {
            animation: nextToStepcreateGroup 1s infinite;
          }
        }
      }
    }
    &__finish {
      background: #71c6dd;
      border-radius: 10px;
      font-size: 16px;
      line-height: 16px;
      color: #000;
      width: 100px;
      height: 46px;
      font-weight: 500;
      border: none;
    }
  }
}

@keyframes nextToStepcreateGroup {
  from {
    margin-left: 0px;
  }
  to {
    margin-left: 25px;
  }
}
